/* GENERAL */
body {
  font-family: Quicksand, sans-serif;
  color: #171928;
}
a {
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  text-decoration: underline;
}
h1 {
  margin-top: 0;
  font-weight: 500;
  text-align: center;
  color: #171928;
  font-size: 32px;
  margin-bottom: 0px;
  color: #da143e;
  font-size: 44px;
  font-weight: bold;
}
h2 {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  color: #171928;
  margin-top: 0;
  margin-bottom: 0;
}
h2 .light {
  color: #ffffff;
}
@media (min-width: 576px) {
  h2 {
    font-size: 45px;
  }
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
.bg-dark {
  background-color: #171928 !important;
}
.hide {
  display: none !important;
}
@media (min-width: 576px) {
  .sm-show {
    display: inherit !important;
  }
}
@media (min-width: 576px) {
  .sm-hide {
    display: none !important;
  }
}
.wave {
  /*background: transparent url("/img/hp/wave.png") 0 0 no-repeat;*/
  width: 61px;
  height: 2px;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  background-color: #da143e;
}
.header {
  text-align: center;
}
.header .wave {
  margin-top: 0;
}
.header .perex {
  font-size: 28px;
  font-weight: 100;
  margin-top: 10px;
}
@media (min-width: 576px) {
  .header {
    text-align: center;
  }
}
/* TOP MENU */
.navbar-top-wrap {
  margin-top: 15px;
  height: 60px;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .navbar-top-wrap {
    margin-bottom: 75px;
  }
}
.navbar {
  height: 60px;
}
.navbar .navbar-wrap {
  float: right;
  height: 60px;
  overflow: hidden;
}
.navbar .navbar-brand {
  margin: 0;
  display: inline-block;
  position: relative;
  top: 9px;
}
.navbar .navbar-brand img {
  height: 60px;
}
.navbar .navbar-brand-light {
  display: none;
  margin-top: 15px;
}
.navbar .nav-link {
  font-weight: bold;
  color: #171928;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.navbar .nav-item .nav-link.active {
  color: #da143e;
}
.navbar .navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  clear: both;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
}
.navbar .navbar-nav .nav-item {
  line-height: 30px;
}
.navbar .navbar-button {
  width: 42px;
  height: 42px;
  background-color: #da143e;
  border-radius: 17.5px 17.5px 17.5px 2px;
  color: #ffffff;
  line-height: 42px;
  font-size: 20px;
  float: right;
  margin-top: 9px;
  margin-bottom: 9px;
}
@media (min-width: 768px) {
  .navbar .navbar-button {
    display: none;
  }
  .navbar .navbar-nav .nav-item {
    float: left;
    line-height: 60px;
  }
}
@media (max-width:  767.98px) {
  .navbar.expanded {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #da143e;
    border-radius: 2px;
    z-index: 1;
    height: auto;
  }
  .navbar.expanded .navbar-wrap {
    height: auto;
    width: 100%;
    margin-top: 15px;
  }
  .navbar.expanded .nav-link {
    color: #ffffff;
  }
  .navbar.expanded .nav-item .nav-link.active {
    color: #171928;
  }
  .navbar.expanded .navbar-brand {
    position: absolute;
  }
  .navbar.expanded .navbar-brand-light {
    display: inline-block;
  }
  .navbar.expanded .navbar-brand-dark {
    display: none;
  }
}
.top-block {
  margin-top: 0px;
}
@media (min-width: 576px) {
  .top-block {
    margin-top: 50px;
  }
}
.top-block-bottom {
  padding-bottom: 104px;
  margin-bottom: 50px;
  position: relative;
  top: 1px;
}
@media (min-width: 576px) {
  .top-block-bottom {
    margin-bottom: 75px;
  }
}
.btn-napiste-nam-wrap {
  text-align: center;
}
@media (min-width: 992px) {
  .btn-napiste-nam-wrap {
    text-align: left;
  }
}
.btn-napiste-nam {
  background-color: #171928;
  height: 60px;
  line-height: 60px;
  border-radius: 30px;
  color: #ffffff !important;
  font-size: 17px;
  padding: 0 50px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none !important;
  width: 100%;
  text-align: center;
}
@media (min-width: 576px) {
  .btn-napiste-nam {
    width: auto;
  }
}
.arrow-down-wrap {
  background-color: #ffffff;
  border-radius: 50%;
  width: 84px;
  height: 84px;
  box-shadow: 0px 8px 78px 0px rgba(23, 22, 20, 0.1);
  margin: 0 auto;
  position: relative;
  top: 70px;
  cursor: pointer;
  margin-top: -10px;
}
@media (min-width: 768px) {
  .arrow-down-wrap {
    margin-top: 0;
  }
}
@keyframes arrow-down-arrow-animation {
  0% {
    top: 24px;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    top: 50px;
  }
  85% {
    opacity: 1;
  }
  100% {
    top: 52px;
    opacity: 0;
  }
}
.arrow-down-wrap .arrow-down-arrow {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #171928;
  border-radius: 4px;
  margin: 0 auto;
  position: relative;
  top: 38px;
  animation: arrow-down-arrow-animation 1.2s infinite;
}
.naladeni-wrap {
  margin-top: 140px;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 992px) {
  .naladeni-wrap {
    text-align: left;
  }
}
.naladeni-content {
  margin-top: 35px;
}
.naladeni-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 35px;
  text-align: center;
}
.naladeni-content ul li {
  width: auto;
  margin-bottom: 35px;
}
.naladeni-content ul li h3 {
  margin: 0;
  line-height: 1.2;
  font-weight: bold;
  font-size: 28px;
  color: #171928;
  position: relative;
  padding-bottom: 8px;
}
.naladeni-content ul li .line {
  display: block;
  background-color: #ffffff;
  width: 42px;
  height: 2px;
  margin: 0 auto 5px auto;
}
.naladeni-content ul li span.naladeni-text {
  line-height: 1.5;
}
@media (min-width: 992px) {
  .naladeni-content {
    margin-top: 0;
  }
  .naladeni-content ul {
    text-align: left;
    margin-top: 50px;
  }
  .naladeni-content ul li {
    width: auto;
    max-width: 230px;
    margin-bottom: 0;
  }
  .naladeni-content ul li .line {
    margin: 0;
    margin-bottom: 0.5rem;
  }
}
.nase-hodnoty {
  width: 100%;
  max-width: 270px;
  min-height: 270px;
  border-radius: 45px 45px 0 45px;
  padding: 30px 30px 0 30px;
  color: #ffffff;
  display: inline-block;
  text-align: center;
}
.nase-hodnoty ul {
  list-style-type: none;
  font-size: 17px;
  font-weight: bold;
  margin-top: 25px;
  padding-left: 20px;
  text-align: left;
}
.nase-hodnoty ul li {
  background: transparent url("/img/hp/fajfka.png") 0 50% no-repeat;
  padding-left: 30px;
}
.nase-hodnoty .line-01 {
  font-size: 28px;
  line-height: 36px;
}
.nase-hodnoty .line-01 span {
  font-weight: bold;
}
@media (min-width: 992px) {
  .nase-hodnoty {
    width: 270px;
    text-align: left;
    float: left;
    margin-right: 50px;
  }
}
@media (min-width: 1200px) {
  .nase-hodnoty {
    margin-right: 150px;
  }
}
.balicky {
  margin-top: 25px;
  text-align: center;
}
.balicky .box {
  width: 100%;
  max-width: 300px;
  height: 380px;
  box-shadow: 0px 8px 49px 14px rgba(232, 233, 235, 0.72);
  text-align: center;
  display: inline-block;
  padding: 20px 20px;
  margin-top: 25px;
}
.balicky .box .line-01 {
  font-size: 28px;
  line-height: 1;
}
.balicky .box .line-02 {
  font-size: 28px;
  font-weight: bold;
}
.balicky .box .line-03 {
  font-size: 15px;
  line-height: 2;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.balicky .box .line-03 span {
  color: #da143e;
}
.balicky .box .icon-wrap {
  width: 104px;
  height: 104px;
  border: 12px solid #f6f6f6;
  border-radius: 50%;
  margin: 25px auto 50px auto;
}
.balicky .box icon {
  width: 100%;
  height: 100%;
}
.balicky .box span.icon {
  color: #da143e;
  line-height: 80px;
  font-size: 42px;
  text-shadow: 1px 1px 0px #171928;
}
.balicky .box.box-01 span.icon {
  position: relative;
  top: 1px;
  left: -2px;
}
.balicky .box.box-01 div.icon {
  background: transparent url("/img/hp/icon-01.png") 50% 50% no-repeat;
}
.balicky .box.box-02 span.icon {
  transform: rotate(-45deg);
  position: relative;
  left: 2px;
}
.balicky .box.box-02 div.icon {
  background: transparent url("/img/hp/icon-02.png") 50% 50% no-repeat;
}
.balicky .box.box-03 span.icon {
  position: relative;
  top: 2px;
  left: -2px;
}
.balicky .box.box-03 div.icon {
  background: transparent url("/img/hp/icon-03.png") 50% 50% no-repeat;
}
@media (min-width: 992px) {
  .balicky {
    margin-top: 75px;
    text-align: left;
  }
  .balicky .box {
    width: 300px;
    height: 420px;
    padding: 20px 50px;
    margin-top: 0;
  }
  .balicky .box.box-02 {
    margin-top: 40px;
  }
}
.offer {
  margin-top: 50px;
  margin-bottom: 75px;
  font-size: 28px;
  color: #da143e !important;
  font-weight: bold;
  background: transparent url("/img/hp/arrow-01.png") 100% 50% no-repeat;
  padding-right: 40px;
  text-decoration: underline;
  display: inline-block;
}
.offer:hover {
  text-decoration: none;
}
@media (min-width: 576px) {
  .offer {
    margin-bottom: 150px;
  }
}
.ochutnavka-wrap {
  margin-top: 50px;
  background: #171928 url("/svg/hp/ochutnavka-top-ellipse.svg") 50% -90px no-repeat;
  width: 100%;
  padding-top: 80px;
}
@media (min-width: 576px) {
  .ochutnavka-wrap {
    background-position-y: -70px;
  }
}
@media (min-width: 768px) {
  .ochutnavka-wrap {
    background-position-y: -50px;
  }
}
@media (min-width: 992px) {
  .ochutnavka-wrap {
    margin-top: 100px;
    background-position-y: -30px;
  }
}
@media (min-width: 1200px) {
  .ochutnavka-wrap {
    background-position-y: 0px;
  }
}
.reference-wrap {
  width: 100%;
  background-color: #171928;
}
.reference-wrap .container {
  position: relative;
  top: -200px;
}
.reference-wrap h2 {
  color: #ffffff;
}
ul.reference {
  padding: 0 0 10px 0;
  margin: 90px 0 0 0;
  list-style-type: none;
}
ul.reference li {
  background: #ffffff url("/img/hp/uvozovky.png") 320px 30px no-repeat;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  border-radius: 45px;
  width: 375px;
  height: 225px;
  display: inline-block;
  padding: 50px 40px 0 40px;
  text-align: left;
  font-size: 15px;
  color: #090909;
}
ul.reference li:first-child {
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  margin-right: 60px;
}
ul.reference:last-child {
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
}
ul.reference .name {
  display: inline-block;
  color: #da143e;
  font-size: 28px;
  width: 100%;
  margin-top: 15px;
}
ul.reference .company {
  display: inline-block;
  color: #171928;
  font-size: 15px;
  width: 100%;
  position: relative;
  top: -5px;
}
.form-wrap {
  padding-top: 50px;
  background-color: #171928;
}
.form-wrap .napiste-nam-mezera {
  height: 10px;
}
.form-wrap form {
  width: 100%;
}
.form-wrap h2 {
  color: #ffffff;
}
.form-wrap .contact-form {
  margin-top: 50px;
  max-width: 600px;
  display: inline-block;
}
.form-wrap .contact-form label {
  display: inline-block;
  margin-bottom: 0.5rem;
  width: 100%;
  color: #eb0045;
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  padding-left: 25px;
}
.form-wrap .contact-form input.text-input {
  width: 100%;
  color: #171928;
  height: 50px;
  border-radius: 25px;
  margin-bottom: 10px;
  font-size: 16px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
}
.form-wrap .contact-form input.checkbox-input {
  color: #171928;
  width: 16px;
  height: 16px;
  font-size: 16px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  position: relative;
  top: 2px;
}
.form-wrap .contact-form textarea {
  width: 100%;
  color: #171928;
  height: 15em;
  border-radius: 25px;
  font-size: 16px;
  padding: 25px;
  border: none;
  margin-bottom: 10px;
}
.form-wrap .contact-form label.label-checkbox {
  font-size: 15px;
  font-weight: 100;
  color: #ffffff;
  display: inline;
  margin-left: 9px;
  padding-left: 0;
}
.form-wrap .contact-form label.label-checkbox a {
  color: #da143e;
}
.form-wrap .contact-form .btn-odeslat-zpravu {
  background-color: #da143e;
  height: 60px;
  line-height: 60px;
  border-radius: 30px;
  color: #ffffff !important;
  font-size: 17px;
  padding: 0 50px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none !important;
  border: none;
  margin-top: 50px;
  cursor: pointer;
}
.form-wrap .contact-form .btn-odeslat-zpravu:hover {
  background-color: #ffffff;
  color: #da143e !important;
}
@media (min-width: 576px) {
  .form-wrap .contact-form {
    margin-top: 75px;
  }
}
.footer-top-block {
  background: transparent url("/svg/hp/footer-block.svg") 50% 75px no-repeat;
  width: 100%;
  height: 125px;
}
.footer {
  background-color: #11121f;
  padding-top: 0px;
  color: #ffffff;
}
.footer .container {
  border-bottom: 1px solid #24273a;
  padding-bottom: 55px;
}
.footer .content-01,
.footer .content-02,
.footer .content-03 {
  display: inline-block;
}
.footer .content-01 {
  width: 100%;
}
.footer .content-01 .line-01 {
  font-size: 32px;
  font-weight: 100;
  text-align: center;
}
.footer .content-01 .line-02 {
  font-size: 28px;
  font-weight: 100;
  color: #c9cce0;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 35px;
}
@media (min-width: 992px) {
  .footer .content-01 {
    width: 500px;
  }
}
.footer .content-02 {
  width: 100%;
}
.footer .content-02 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.footer .content-02 ul li {
  display: inline-block;
}
.footer .content-02 ul li span {
  width: 44px;
  height: 44px;
  display: inline-block;
}
.footer .content-02 ul li span.fb {
  background: transparent url("/img/hp/fb-ico.png") 0 0 no-repeat;
  margin-right: 15px;
}
.footer .content-02 ul li span.in {
  background: transparent url("/img/hp/in-ico.png") 0 0 no-repeat;
}
.footer .content-02 ul li a:hover span {
  background-position: 0 -44px;
}
.footer .content-03 {
  width: 100%;
  position: relative;
  top: 35px;
  text-align: center;
}
.footer .content-03 .line-01 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}
.footer .content-03 .line-02 {
  font-size: 17px;
  color: #c9cce0;
  margin-bottom: 8px;
}
.footer .content-03 .line-03 {
  font-size: 28px;
  font-weight: bold;
  color: #da143e;
  background: transparent url("/img/hp/phone-ico.png") 0 50% no-repeat;
  padding-left: 40px;
  margin-bottom: 8px;
  display: inline-block;
}
.footer .content-03 .line-04 {
  font-size: 17px;
  color: #c9cce0;
}
.footer .content-03 .line-04 a {
  color: #ffffff;
}
@media (min-width: 992px) {
  .footer .content-01 .line-01 {
    font-size: 45px;
    text-align: left;
  }
  .footer .content-01 .line-02 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
  }
  .footer .content-02 {
    width: 250px;
  }
  .footer .content-02 ul {
    text-align: left;
  }
  .footer .content-03 {
    width: 300px;
    text-align: left;
  }
  .footer .content-03 .line-01 {
    font-size: 28px;
    margin-bottom: 0px;
  }
  .footer .content-03 .line-02 {
    margin-bottom: 0px;
  }
  .footer .content-03 .line-03 {
    margin-bottom: 0px;
  }
}
.bottom {
  background: #11121f;
  color: #ffffff;
  padding-top: 25px;
  padding-bottom: 35px;
}
.bottom .rozdelovnik {
  height: 10px;
}
.bottom span {
  display: inline-block;
  color: #c9cce0;
}
.bottom span .heart {
  display: inline-block;
  background: transparent url("/img/hp/heart-ico.png") 0 50% no-repeat;
  width: 17px;
  height: 16px;
  margin: 0;
}
.bottom span a {
  color: #ffffff;
}
/*jssor slider loading skin spin css*/
#jssor_1 {
  box-shadow: 0px 8px 49px 14px rgba(23, 22, 20, 0.18);
}
@media (min-width: 576px) {
  #jssor_1 {
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
  }
}
.jssorl-009-spin img {
  animation-name: jssorl-009-spin;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes jssorl-009-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*jssor slider bullet skin 053 css*/
.jssorb053 .i {
  position: absolute;
  cursor: pointer;
}
.jssorb053 .i .b {
  fill: #ffffff;
  fill-opacity: 0.5;
}
.jssorb053 .i:hover .b {
  fill-opacity: 0.7;
}
.jssorb053 .iav .b {
  fill-opacity: 1;
}
.jssorb053 .i.idn {
  opacity: 0.3;
}
/*jssor slider arrow skin 093 css*/
.jssora093 {
  display: block;
  position: absolute;
  cursor: pointer;
}
.jssora093 .c {
  fill: none;
  stroke: #ffffff;
  stroke-width: 400;
  stroke-miterlimit: 10;
}
.jssora093 .a {
  fill: none;
  stroke: #ffffff;
  stroke-width: 400;
  stroke-miterlimit: 10;
}
.jssora093:hover {
  opacity: 0.8;
}
.jssora093.jssora093dn {
  opacity: 0.6;
}
.jssora093.jssora093ds {
  opacity: 0.3;
  pointer-events: none;
}
#hp .pre-header {
  font-weight: 500;
  text-align: center;
  color: #171928;
  font-size: 32px;
  line-height: 100%;
  margin-bottom: 8px;
}
@media (min-width: 576px) {
  #hp .pre-header {
    font-size: 44px;
  }
}
@media (min-width: 992px) {
  #hp .pre-header {
    text-align: left;
    margin-bottom: 0px;
  }
}
#hp h1 {
  font-weight: bold;
  color: #da143e;
  line-height: 120%;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  #hp h1 {
    font-size: 74px;
  }
}
@media (min-width: 992px) {
  #hp h1 {
    text-align: left;
  }
}
#hp .top-block {
  background: #da143e url("/img/hp/krivka-top.png") 50% 0px no-repeat;
}
#hp .top-block-bottom {
  min-height: 700px;
  background: transparent url("/img/hp/krivka-bottom.png") 50% 100% no-repeat;
}
#hp .footer-top-block {
  background-color: #171928;
}
@media (min-width: 992px) {
  #hp .naladeni-content h2 {
    text-align: left;
  }
}
#page .top-block {
  background: #171928 url("/img/pages/krivka-top.png") 50% 0px no-repeat;
}
#page .top-block-bottom {
  min-height: 470px;
  background: transparent url("/img/pages/krivka-bottom.png") 50% 100% no-repeat;
}
#page .top-block-content {
  padding-top: 145px;
  color: #ffffff;
}
.o-nas .top-block .top-block-content {
  color: #ffffff;
  text-align: center;
}
.o-nas .top-block .top-block-content .popis {
  font-size: 28px;
  font-weight: 100;
  margin-top: 25px;
  display: inline-block;
  width: 100%;
  line-height: 1.5;
  margin-top: 35px;
  margin-bottom: 55px;
}
.o-nas .top-block .top-block-content .popis strong {
  font-weight: bold;
}
.o-nas .top-block .top-block-content .cislo {
  font-size: 45px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
}
.o-nas .top-block .top-block-content .text {
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  width: 100%;
}
.o-nas .nas-tym {
  margin-bottom: 100px;
}
.o-nas .nas-tym .clen-tymu {
  margin-top: 75px;
  text-align: center;
}
.o-nas .nas-tym .jmeno {
  color: #171928;
  font-size: 28px;
  font-weight: bold;
  margin-top: 25px;
  display: inline-block;
  width: 100%;
}
.o-nas .nas-tym .funkce {
  color: #da143e;
  font-size: 15px;
  font-weight: 500;
  margin-top: 5px;
  display: inline-block;
  width: 100%;
}
.o-nas .nas-tym .popis {
  color: #171928;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  display: inline-block;
  line-height: 1.5;
  width: 100%;
}
.o-nas .nas-tym .motto {
  color: #171928;
  font-size: 28px;
  font-weight: 100;
  margin-top: 30px;
  display: inline-block;
  width: 100%;
}
/*# sourceMappingURL=app.css.map */