.o-nas {
  .top-block {
    .top-block-content {
      color: @color01;
      text-align: center;

      .popis {
        font-size: 28px;
        font-weight: 100;
        margin-top: 25px;
        display: inline-block;
        width: 100%;
        line-height: 1.5;
        margin-top: 35px;
        margin-bottom: 55px;

        strong {
          font-weight: bold;
        }
      }

      .cislo {
        font-size: 45px;
        font-weight: bold;
        display: inline-block;
        margin-bottom: 10px;
        width: 100%;
      }

      .text {
        font-size: 15px;
        font-weight: bold;
        display: inline-block;
        width: 100%;
      }
    }
  }

  .nas-tym {
    margin-bottom: 100px;

    .clen-tymu {
      margin-top: 75px;
      text-align: center;
    }

    .jmeno {
      color: @color02;
      font-size: 28px;
      font-weight: bold;
      margin-top: 25px;
      display: inline-block;
      width: 100%;
    }

    .funkce {
      color: @color03;
      font-size: 15px;
      font-weight: 500;
      margin-top: 5px;
      display: inline-block;
      width: 100%;
    }

    .popis {
      color: @color02;
      font-size: 15px;
      font-weight: 500;
      margin-top: 20px;
      display: inline-block;
      line-height: 1.5;
      width: 100%;
    }

    .motto {
      color: @color02;
      font-size: 28px;
      font-weight: 100;
      margin-top: 30px;
      display: inline-block;
      width: 100%;
    }
  }
}